.content {
  display: block;
  //background: url(images/about-content.jpg);
  background: linear-gradient(45deg, lime, green, lime);
  background-size: 100px 100px;
  color: black;
  animation: bgmove 8s linear 0s infinite;
  overflow: hidden;
}
@keyframes bgmove {
  0%{background-position: 0px 0px;}
  100%{background-position: 100px 100px;}
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: goo, Arial, Helvetica;
  font-size: calc(1.5vw + 10px);
}
.text p {
  width: 80%;
  text-align: center;
  display: inline-block;
  text-shadow: 1px 1px 4px white;
}
.text span {
  background: #0008;
  font-family: monospace;
  border-radius: 4px;
  font-size: calc(0.2vw + 15px);
  color: white;
  text-shadow: none;
}
.text img {
  width: 20vw;
  max-width: 180px;
  filter: drop-shadow(0px 0px 20px black);
}

.panel {
  position: relative;
  background: url(images/goo-bg.gif);
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  animation: fade 2s ease-out 150ms 1 forwards;
}
@keyframes fade {
  0%{
    //transform: translateY(-100%);
    opacity: 100%;
    box-shadow: 0px 0px 0px 0px black inset;
    visibility: visible;
  }
  100%{
    //transform: translateY(-200%);
    opacity: 0%;
    box-shadow: 0px 0px 50px 50px black inset;
    visibility: collapse;
  }
}

.button {
  top: 0px;
  left: 0px;
  padding-left: 20px;
  padding-right: 20px;
}


@media only screen and (max-width: 595px) {
  .text img {
    width: 50vw;
    max-width: 150px;
  }
  .text {
    font-size: calc(1.8vh + 1.8vw);
  }
}

@media only screen and (max-height: 420px) and (min-width: 600px) {
  .text img {
    width: 50vw;
    max-width: 130px;
  }
  .text {
    font-size: 4.5vh;
  }
  .text span {
    font-size: 3.5vh;
  }
}
